
<h3>Input student names seperated by spaces</h3>

<form action="/createStudents" method="post">

    <input name="studentNames" type="text" placeholder="Input student names seperated by space">

    <button type="submit">Submit</button>
</form>